<section  *ngIf="isLoggedIn == null"  class=" purchase row" style='background-color:#333'>
	<div style='padding: 15px;'>
		<div class="">
			<div class="section-content text-center">
				<h1 class="title-text">LOOKING FOR A JOB!</h1>
				<p>Join thousand of employers and earn what you deserve!</p>
				<a routerLink="/candidateSignup"
					class="btn btn-common">Get Started Now</a>
			</div>
		</div>
	</div>
</section>


<br/>

<span  *ngIf="isLoggedIn == 'false'"  >
	<h2 class="section-title" style='font-size : 15px !important;padding:10px;'>Hi! {{loggedInUsername}}, </h2>
	<br/>
	
	<section style='padding:30px;' class="section">
		<div  _ngcontent-c9="" class="card mb-3" style='overflow: auto !important;'>
			<div _ngcontent-c9="" class="card-header">
				<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Recent Activities</span>
			</div>
			<div _ngcontent-c9="" class="card-block table-responsive">
				<table _ngcontent-c9="" class="table">
					<thead _ngcontent-c9="" class="ng-tns-c9-1">
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th _ngcontent-c9="" class="ng-tns-c9-1">Job Title</th>
							<th _ngcontent-c9="" class="ng-tns-c9-1">Applied On</th>
							<th _ngcontent-c9="" class="ng-tns-c9-1">Status</th>
						</tr>
					</thead>
					<tbody _ngcontent-c9="" class="ng-tns-c9-1">
						<tr *ngFor="let row of jobApplications;let i=index" (click) = "getJobDetails(row.jobId, content, 0)"
							_ngcontent-c9="" class="ng-tns-c9-1">
							<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.jobTitle}}</td>
							<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.appliedDate}}</td>
							<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.statusText}}</td>
						</tr>
						<tr *ngIf="jobApplications.length == 0">
							<td colspan ="4">You have not applied for any job</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	
	
	<br/>

</span>


<section style='padding:10px;' class="find-job section">
		<h2  *ngIf="isLoggedIn == null || isLoggedIn == 'true'"   class="section-title">Latest Job Openings</h2>
		<h4  *ngIf="isLoggedIn == 'false'"   class="section-title" style='font-size:15px !important;'>Current Openings base on your profile:</h4>
	<div class="container" ><!-- container-fluid text-center bg-grey -->
		<div slimScroll allowPageScroll="true" width="auto" height="250px" size="7px" class="row" >
			<div  (click)="open(job, content, i)" *ngFor="let job of jobs; index as i;"
				class="col-md-12 job-list">
				<div class="job-list-content">
					<h4>
						<span>{{job.jobTitle}}</span> <span
							style="font-size: 12px; padding-right: 15px;" class="pull-right">{{job.jobMinExp}}-{{job.jobMaxExp}}
							years</span>
					</h4>
					<div class="job-tag">
						<div class="pull-left">
							<div class="meta-tag">
								<div style='clear: both;'></div>
								<span><i class="ti-location-pin"></i>{{job.jobLocation}}</span>
								<span><span>Rs.</span>{{job.jobAnnualCompensation}}</span>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div *ngIf="jobs != null && jobs.length== 0"  class="col-md-12 job-list">
				<span colspan ="4">No Matching Jobs Found!</span>
			</div>

			<!-- <div class="col-md-12">
				<div class="showing pull-right">
					<a (click)="fetchNextJobs()" href="#"><span>View More</span></a>
				</div>
			</div> -->
		</div>
	</div>
</section>

<br/>


<!-- 

<div id="portfolio" class="container-fluid bg-grey">
  <h2 class="section-title">Clients & Partners</h2><br>
  <div class="col-sm-12 text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img1.png" alt="Paris" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img2.png" alt="New York" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img3.png" alt="San Francisco" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
  </div><br>
    <div class="col-sm-12 text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img1.png" alt="Paris" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img2.png" alt="New York" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="assets/img/clients/img3.png" alt="San Francisco" height="200">
        <p><strong></strong></p>
        <p></p>
      </div>
    </div>
  </div><br>
</div>
 -->

<div class="container">
	<div class="row">
		<div class='col-md-12' style='margin-bottom: 50px;'></div>

	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
    	<h4 class="modal-title" id="modal-basic-title">
    	Job Details
	        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
	    	  <span aria-hidden="true">&times;</span>
		    </button>
    	</h4>
  	</div>
  	<div class="modal-body" >
    	<div style='overflow:auto !important;max-height:300px !important;'>
      		<div _ngcontent-c9="" class="card-block table-responsive" style='border:0px !important;'>
				<table _ngcontent-c9="" class="table" >
					<tbody _ngcontent-c9="" class="ng-tns-c9-1" >
						<tr _ngcontent-c9="" class="ng-tns-c9-1" >
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Occupation</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobOccupation}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Business</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobBusiness}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Industry</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobIndustry}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Job Description</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobDescription}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Required Experience</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobRequiredExp}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Years of Experience</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobMinExp}} - {{model.selectedJob.jobMaxExp}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Salary</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobAnnualCompensation}}</td>
						</tr>
						<tr _ngcontent-c9="" class="ng-tns-c9-1">
							<th style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">Benefits</th>
							<td style='border:0px !important;' _ngcontent-c9="" class="ng-tns-c9-1">{{model.selectedJob.jobBenefits}}</td>
						</tr>
						
					</tbody>
				</table>
				
			</div>
      		<span *ngIf="!isAppliedJob" (click)="jobApplication(model.selectedJob.id);d('Cross click');" class= "btn btn-common pull-right" style='margin:5px;' >Apply</span>
    	</div>
  	</div>
</ng-template>
