
    <section class=" purchase row">
      <div >
        <div class="">
          <div class="section-content text-center">
            <h1 class="title-text">
             Looking for skilled Professionals
            </h1>
            <p>Join us to access a curated pool of active, skilled talent today.</p>
            <a *ngIf="isLoggedIn == null"  routerLink="/employerSignup" class="btn btn-common">Get Started Now</a>
          </div>
        </div>
      </div>
    </section>



<div class="container">
			<div class="row">


<div class='col-md-12' style='margin-bottom:50px;'>

</div>

</div>
   </div>
