<div style='height: 100%;
  margin: 15px;
  padding: 0;margin-top:150px;background-color:#fff;'>
	<!--Non-admin username and password: john.doe and jwtpass
	Admin user: admin.admin and jwtpass
	-->
	<p></p>
	<p></p>

	<div class="form-wrapper">
	  <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
		
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !currPassword.valid }">
		  <input type="password" class="form-control" name="currPassword" [(ngModel)]="model.currPassword" #currPassword ="ngModel"
				 required placeholder="Current Password"/>
		  <div *ngIf="f.submitted && !currPassword.valid" class="help-block">Current Password is required</div>
		</div>
		
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
		  <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword ="ngModel"
				 required placeholder="New Password"/>
		  <div *ngIf="f.submitted && !newPassword.valid" class="help-block">New Password is required</div>
		</div>
		
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmNewPassword.valid }">
		  <input type="password" class="form-control" name="confirmNewPassword" [(ngModel)]="model.confirmNewPassword" #confirmNewPassword ="ngModel"
				 required placeholder="Confirm New Password"/>
		  <div *ngIf="f.submitted && !confirmNewPassword.valid" class="help-block">Confirm New Password is required</div>
		  <div *ngIf="f.submitted && model.confirmNewPassword != model.newPassword" class="help-block">Confirm Password Should be same as New Password</div>		  
		</div>
		
		<div class="form-group pull-right">
		  <button [disabled]="loading" class="btn btn-sm btn-primary" style = "width:auto !important;">Change Password</button>
		  <button routerLink="/home" class="btn  btn-sm btn-secondry" style = "width:auto !important;">Cancel</button>
		  
		</div>
		<div class="clearfix"></div>
		<div *ngIf="error" class="alert alert-danger">{{error}}</div>
	  </form>
	</div>
</div>