<div style="height: 100% !import;   margin: 0;   padding: 0;top:180px;background-color:#fff;overflow-y:auto;overflow-x:hidden;margin-bottom:30px;">
    <div style='margin-top:70px'>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                        <div class="page-ads box">
                            <div class="post-header">
                                <p>Already have an account? <a  routerLink="/login" >Click here to login</a></p>
                            </div>
                            <form class="form-ad">
								<div class="divider"><h3>Profile</h3></div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Name</label>
									<input type="text" class="form-control" placeholder="Name">
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Date of Birth</label>
									<my-date-picker name="mydate" class="form-control" [options]="myDatePickerOptions"  required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="input">Sex</label>
									<div class="form-check">
									  <input type="radio"  class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
									  <label style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Male</label>
									  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
									  <label style="top:-18px;position:relative;padding:10px;" class="form-check-label" for="materialUnchecked">Female</label>									  
									</div>
									<span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Nationality</label>
									<select name="entryNATIONALITY_ID" class="form-control" id="entryNATIONALITY_ID">
									   <option value="">Please select-----</option>
									   <option value="1">Japan</option>
									   <option value="2">China</option>
									   <option value="3">Korea</option>
									   <option value="4">Malaysia</option>
									   <option value="5">Indonesia</option>
									   <option value="6">Thailand</option>
									   <option value="7">Vietnam</option>
									   <option value="8">Taiwan</option>
									   <option value="9">Hong Kong</option>
									   <option value="10">Singapore</option>
									   <option value="11">India</option>
									   <option value="12">Philippines</option>
									   <option value="13">U.S.A.</option>
									   <option value="14">Canada</option>
									   <option value="15">United Kingdom</option>
									   <option value="16">France</option>
									   <option value="17">Spain</option>
									   <option value="18">Italy</option>
									   <option value="19">Germany</option>
									   <option value="20">Russia</option>
									   <option value="21">Mexico</option>
									   <option value="22">Brazil</option>
									   <option value="23">Bangladesh</option>
									   <option value="24">Switzerland</option>
									   <option value="25">Argentina</option>
									   <option value="26">Mongolia</option>
									   <option value="27">Myanmar</option>
									   <option value="28">Australia</option>
									   <option value="29">Pakistan</option>
									   <option value="30">Czech Republic</option>
									   <option value="99">other</option>
									</select>
									<span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Address</label> 
									<input type="text" class="form-control" style="width: 100%"	maxlength="200"> 
									<br/>
									<input type="text" class="form-control" style="width: 100%" maxlength="200">
									<br/>
									<label class="control-label" for="textarea">State</label> 
									<select class="form-control" name="entryPref" id="entryPref">
										<option value="">Please select-----</option>
										<option value="40">Andaman and Nicobar Islands</option>
										<option value="1">Andhra Pradesh</option>
										<option value="2">Arunachal Pradesh</option>
										<option value="3">Assam</option>
										<option value="4">Bihar</option>
										<option value="5">Chandigarh</option>
										<option value="41">Chhattisgarh</option>
										<option value="42">Dadra and Nagar Haveli</option>
										<option value="30">Daman and Diu</option>
										<option value="43">Delhi</option>
										<option value="6">Goa</option>
										<option value="7">Gujarat</option>
										<option value="8">Haryana</option>
										<option value="9">Himachal Pradesh</option>
										<option value="10">Jammu and Kashmir</option>
										<option value="11">Jharkhand</option>
										<option value="12">Karnataka</option>
										<option value="13">Kerala</option>
										<option value="44">Lakshadweep</option>
										<option value="14">Madhya Pradesh</option>
										<option value="16">Maharashtra</option>
										<option value="15">Manipur</option>
										<option value="17">Meghalaya</option>
										<option value="18">Mizoram</option>
										<option value="19">Nagaland</option>
										<option value="20">Orissa</option>
										<option value="45">Puducherry</option>
										<option value="21">Punjab</option>
										<option value="22">Rajasthan</option>
										<option value="23">Sikkim</option>
										<option value="24">Tamil Nadu</option>
										<option value="25">Tripura</option>
										<option value="26">Uttar Pradesh</option>
										<option value="27">Uttarakhand</option>
										<option value="28">Paschim Banga/West Bengal</option>
										<option value="46">Kolkata</option>
										<option value="47">Hyderabad</option>
										<option value="29">Chandigarh</option>
										<option value="32">Mumbai</option>
										<option value="48">Ahmedabad</option>
										<option value="49">Chandigarh</option>
										<option value="33">Bengaluru</option>
										<option value="34">Chennai</option>
										<option value="50">Chandigarh</option>
										<option value="51">Guwahati</option>
										<option value="52">Noida</option>
										<option value="35">Gurgaon</option>
										<option value="36">Pune</option>
										<option value="53">Varodara</option>
										<option value="54">Jamshedpur</option>
										<option value="55">Nagpur</option>
										<option value="56">Cohin</option>
										<option value="70">Japan</option>
										<option value="71">Hongkong</option>
										<option value="72">China</option>
										<option value="73">USA</option>
										<option value="74">Middle east</option>
										<option value="75">Thailand</option>
										<option value="76">Singapore</option>
										<option value="81">Tada(Sri City)</option>
										<option value="82">Faridabad</option>
										<option value="83">Manesar</option>
										<option value="84">Bawal</option>
										<option value="85">Tapukhera</option>
										<option value="86">Rohtak</option>
										<option value="87">Ranchi</option>
										<option value="88">Mysore</option>
										<option value="89">Jalandhar</option>
										<option value="90">Ludhiana</option>
										<option value="91">Jaipur</option>
										<option value="92">Neemrana</option>
										<option value="93">Greater Noida</option>
										<option value="94">Ghaziabad</option>
										<option value="95">Lucknow</option>
										<option value="97">Anywhere</option>
										<option value="98">Foreign</option>
										<option value="99">Others</option>
									</select>
									<br/>
									<label class="control-label" for="textarea">Zip Code</label> 
									<input type="text" class="form-control" maxlength="11"> 
									<span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Phone Number</label>
									<input type="text" class="form-control" placeholder="Phone Number">
									<span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">E-Mail</label>
									<input type="text" class="form-control" placeholder="E-Mail">
									<span class="material-input"></span>
								</div>
								
								<div class="divider"><h3>History</h3></div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Educational Qualification</label>
									<select class="form-control" name="entryGrad" id="entryGrad">
									         <option value="">Please select-----</option>
									         <option value="1">Graduate School</option>
									         <option value="2">University</option>
									         <option value="3">Junior College</option>
									         <option value="4">Technical College</option>
									         <option value="5">College</option>
									         <option value="6">High School</option>
									         <option value="7">Junior High School</option>
									         <option value="9">Others</option>
									  </select>
									  <span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">School/University Name</label>
									<input type="text" class="form-control" placeholder="University">
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Major</label>
									<input type="text" class="form-control" placeholder="Major Qualification">
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Term/Period</label>
									<my-date-picker name="mydate" class="form-control" [options]="myDatePickerOptions"  placeholder="From" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
									<br/>
									<my-date-picker name="mydate" class="form-control" [options]="myDatePickerOptions"  placeholder="TO" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Number of Companies Worked</label>
									<input type="text" class="form-control" placeholder="Companies">
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="input">Work Status </label>
									<div class="form-check">
									  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
									  <label style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Employed</label>
									  <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
									  <label  style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Unemployed</label>									  
									</div>
									<span class="material-input"></span>
								</div>
								
								<div class="form-group">
									<label>Standard Subjects</label>
									<select2  [data]="expCategories" data-width="100%" [options]="catOptions"  ></select2>
								</div>
																
								
								
								
								
								<div class="divider"><h3>Qualification/Language Skill</h3></div>
								
								<div class="divider"><h3>Desire/Others</h3></div>


         					</form>
                        </div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>