<ng-template #expContent let-c="close" let-d="dismiss">
	<div class="modal-header">
    	<h4  class="modal-title" id="modal-basic-title">Previous Organization Details
	        <span class="pull-right" aria-label="Close" (click)="d('Cross click')">
	    	  <span aria-hidden="true">&times;</span>
		    </span>
    	</h4>
	</div>
	<div class="modal-body">
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Company Name</label>
			<input type="text" class="form-control" [(ngModel)]="previousEmployer.orgName" placeholder="Company Name">
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Department</label>
			<input type="text" class="form-control" [(ngModel)]="previousEmployer.department"  placeholder="Department">
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Industry</span>
			<select2 ngDefaultControl    name="industries"  [data]="industries" data-width="100%" [options]="catOptions"  [(ngModel)]="previousEmployer.industry" (valueChanged)="previousEmployer.industry = $event.value"></select2>
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Number of Employee</label>
			<input type="text" class="form-control" placeholder="" [(ngModel)]="previousEmployer.noOfEmps" >
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Business Detail</label>
			<input type="text" class="form-control" placeholder=""  [(ngModel)]="previousEmployer.businessDetail" >
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Basic Monthly Salary</label>
			<input type="text" class="form-control" placeholder=""  [(ngModel)]="previousEmployer.basicMonthlySalary" >
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Annual Salary including Bonus &amp; Allowance</label>
			<input type="text" class="form-control" placeholder=""  [(ngModel)]="previousEmployer.annualSalary" >
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Employment Type</label>
			<select class="form-control" name="entryEmpType3" id="entryEmpType3"  [(ngModel)]="previousEmployer.employmentType" >
				<option value="">Please select-----</option>
				<option value="1">Regular Employee</option>
				<option value="2">Contract Employee</option>
				<option value="3">Temporary Worker</option>
				<option value="4">Part-time Job</option>
				<option value="5">IC</option>
			</select>
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Designation</label>
			<input type="text" class="form-control" placeholder=""  [(ngModel)]="previousEmployer.designation" >
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Period</label>
			<my-date-picker name="mydate" class="form-control" [(ngModel)]="previousEmployer.periodFrom" [options]="myDatePickerOptions"  placeholder="From" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
			<br/><my-date-picker name="mydate" class="form-control" [(ngModel)]="previousEmployer.periodTo" [options]="myDatePickerOptions"  placeholder="From" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
			<span class="material-input"></span>
		</div>
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Job Description</label>
			<input type="text" class="form-control" placeholder=""  [(ngModel)]="previousEmployer.jobDescription" >
			<span class="material-input"></span>
		</div>
	</div>
	<div class="modal-footer">
		<span class="btn btn-danger"
			(click)="closePreviousEmployerModal();c('Close click')">Add</span>
					<span class="btn btn-default"
			(click)="c('Close click')">Close</span>
	</div>
</ng-template>


<ng-template #qualificationContent let-c="close" let-d="dismiss">
	<div class="modal-header">
    	<h4  class="modal-title" id="modal-basic-title">Qualification
	        <span class="pull-right" aria-label="Close" (click)="d('Cross click')">
	    	  <span aria-hidden="true">&times;</span>
		    </span>
    	</h4>
	</div>

	<div class="modal-body">
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">Program Title</label>
			<input type="text" class="form-control" placeholder="" [(ngModel)]="qualification.programTitle">
			<span class="material-input"></span>
		</div>
		
		<div class="form-group is-empty">
			<label class="control-label" for="textarea">From</label>
			<my-date-picker name="mydate" class="form-control" [(ngModel)]="qualification.programFrom" [options]="myDatePickerOptions"  placeholder="From" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
			<span class="material-input"></span>
		</div>

		<div class="form-group is-empty">
			<label class="control-label" for="textarea">To</label>
			<my-date-picker name="mydate" class="form-control" [(ngModel)]="qualification.programTo" [options]="myDatePickerOptions"  placeholder="From" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
			<span class="material-input"></span>
		</div>
	</div>
	<div class="modal-footer">
		<span class="btn btn-danger"
			(click)="closeQualificationModal();c('Close click')">Add</span>
					<span class="btn btn-danger"
			(click)="c('Close click')">Close</span>
	</div>
</ng-template>

<div style="height: 100% !import;   margin: 0;   padding: 0;top:180px;background-color:#fff;overflow-y:auto;overflow-x:hidden;margin-bottom:30px;">
    <div style='margin-top:70px'>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                        <div class="page-ads box">
                            <div class="post-header">
                                <p>Already have an account? <a  routerLink="/login" >Click here to login</a></p>
                            </div>
                            <form class="form-ad" #postCandidate="ngForm">
								<div class="divider"><h3>Profile</h3></div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Name</label>
									<input name="cName" type="text" class="form-control" placeholder="Name" [(ngModel)]="model.candidateName">
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Date of Birth</label>
									<my-date-picker name="mydate" class="form-control" [(ngModel)]="model.dob" [options]="dDatePickerOptions"  placeholder="DOB" required style='height:45px !important;padding : 3px 10px !important;'></my-date-picker>
									<span class="material-input"></span>
								</div>
								
								<div class="form-group is-empty">
									<label class="control-label" for="input">Gender</label>
									<div class="form-check">
									  <input type="radio"   value="male" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" [(ngModel)]="model.gender">
									  <label style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Male</label>
									  <input type="radio"  value="female" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" [(ngModel)]="model.gender">
									  <label style="top:-18px;position:relative;padding:10px;" class="form-check-label" for="materialUnchecked">Female</label>									  
									</div>
									<span class="material-input"></span>
								</div>

								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Nationality</label>
									<select name="entryNATIONALITY_ID" class="form-control" id="entryNATIONALITY_ID" [(ngModel)]="model.nationality">
									   <option value="">Please select-----</option>
									   <option value="Japan">Japan</option>
									   <option value="China">China</option>
									   <option value="Korea">Korea</option>
									   <option value="Malaysia">Malaysia</option>
									   <option value="Indonesia">Indonesia</option>
									   <option value="Thailand">Thailand</option>
									   <option value="Vietnam">Vietnam</option>
									   <option value="Taiwan">Taiwan</option>
									   <option value="Hong Kong">Hong Kong</option>
									   <option value="Singapore">Singapore</option>
									   <option value="India">India</option>
									   <option value="Philippines">Philippines</option>
									   <option value="U.S.A.">U.S.A.</option>
									   <option value="Canada">Canada</option>
									   <option value="United Kingdom">United Kingdom</option>
									   <option value="France">France</option>
									   <option value="Spain">Spain</option>
									   <option value="Italy">Italy</option>
									   <option value="Germany">Germany</option>
									   <option value="Russia">Russia</option>
									   <option value="Mexico">Mexico</option>
									   <option value="Brazil">Brazil</option>
									   <option value="Bangladesh">Bangladesh</option>
									   <option value="Switzerland">Switzerland</option>
									   <option value="Argentina">Argentina</option>
									   <option value="Mongolia">Mongolia</option>
									   <option value="Myanmar">Myanmar</option>
									   <option value="Australia">Australia</option>
									   <option value="Czech Republic">Czech Republic</option>
									   <option value="other">other</option>
									</select>
									<span class="material-input"></span>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Address</label> 
									<input  name="address1"  type="text" class="form-control" style="width: 100%"	maxlength="200" [(ngModel)]="model.postalAddress"> 
									<br/>
									<input  name="address2" type="text" class="form-control" style="width: 100%" maxlength="200" [(ngModel)]="model.address">
									<br/>
									<label class="control-label" for="textarea">State</label> 
									<select2 name="entryPref" id="entryPref" [data]="location" data-width="100%" [(ngModel)]="model.state" ngDefaultControl  (valueChanged)="model.state = $event.value">
									</select2>
									<br/>
									<label class="control-label" for="textarea">Zip Code</label> 
									<input  name="zipCode" type="text" class="form-control" maxlength="11" [(ngModel)]="model.zip"> 
									<span class="material-input"></span>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Phone Number</label>
									<input  name="phone" type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="model.phone">
									<span class="material-input"></span>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">E-Mail</label>
									<input  name="email"  type="text" class="form-control" placeholder="E-Mail" [(ngModel)]="model.email">
									<span class="material-input"></span>
								</div>
								<div class="divider"><h3>History</h3></div>
								<div class="form-group is-empty">
									<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Experienced Occupation</span>
									<select2 name="expOcc"  [data]="expCategories" data-width="100%"  [(ngModel)]="model.expOccupation" ngDefaultControl  (valueChanged)="model.expOccupation= $event.value">
									</select2>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="input">Work Status </label>
									<div class="form-check">
									  <input type="radio" value="employed" class="form-check-input" id="materialUnchecked" name="materialExampleRadios1" [(ngModel)]="model.isEmployed" >
									  <label style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Employed</label>
									  <input type="radio" value="unemployed" class="form-check-input" id="materialUnchecked" name="materialExampleRadios1"  [(ngModel)]="model.isEmployed" >
									  <label  style="top: -18px;position:relative;padding: 10px;" class="form-check-label" for="materialUnchecked">Unemployed</label>									  
									</div>
									<span class="material-input"></span>
								</div>
								<div  _ngcontent-c9="" class="card mb-3" style='overflow: auto !important;'>
									<div _ngcontent-c9="" class="card-header">
										<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Experienced Occupation</span>
										<span class="btn btn-sm btn-danger float-right" (click)="open(expContent)"><i class="fa fa-fw fa-plus"></i>Add</span>
									</div>
									<div _ngcontent-c9="" class="card-block table-responsive">
										<table _ngcontent-c9="" class="table">
											<thead _ngcontent-c9="" class="ng-tns-c9-1">
												<tr _ngcontent-c9="" class="ng-tns-c9-1">
													<th _ngcontent-c9="" class="ng-tns-c9-1">Organization Name</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1">From</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1">To</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1"></th>
												</tr>
											</thead>
											<tbody _ngcontent-c9="" class="ng-tns-c9-1">
												<tr *ngFor="let row of previousOrgDetails;let i=index"
													_ngcontent-c9="" class="ng-tns-c9-1">
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.orgName}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.periodFrom.formatted}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.periodTo.formatted}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1"><i class="fa fa-fw fa-trash"></i></td>
												</tr>
												<tr *ngIf="previousOrgDetails.length == 0">
													<td colspan ="4">No Previous Employer Details added</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								Attached File<br>
						      	&nbsp;&nbsp;&nbsp;- Word, Excel, PowerPoint, PDF,Html,Text file is able to upload.<br>
						      	<!-- &nbsp;&nbsp;&nbsp;- Volume of each file must be under 500KB. -->
						      	&nbsp;&nbsp;&nbsp;- Volume of each file must be under 1MB. 
      							<div class="form-group is-empty">
									<label class="control-label" for="textarea">Resume</label>
									<input  name="cv" type="file" class="form-control" placeholder="Name" [(ngModel)]="model.resume">
									<span class="material-input"></span>
								</div>
								<div class="divider"><h3>Qualification/Language Skill</h3></div>
								
								<div  _ngcontent-c9="" class="card mb-3" style='overflow: auto !important;'>
									<div _ngcontent-c9="" class="card-header">
										<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 10px;">Qualification</span> 
										<span class="btn btn-sm btn-danger float-right" (click)="open(qualificationContent)"><i class="fa fa-fw fa-plus"></i>Add</span>
									</div>
									<div _ngcontent-c9="" class="card-block table-responsive">
										<table _ngcontent-c9="" class="table">
											<thead _ngcontent-c9="" class="ng-tns-c9-1">
												<tr _ngcontent-c9="" class="ng-tns-c9-1">
													<th _ngcontent-c9="" class="ng-tns-c9-1">Program Title</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1">From</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1">To</th>
													<th _ngcontent-c9="" class="ng-tns-c9-1"></th>
												</tr>
											</thead>
											<tbody _ngcontent-c9="" class="ng-tns-c9-1">
												<tr *ngFor="let row of qualificationDetails;let i=index"
													_ngcontent-c9="" class="ng-tns-c9-1">
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.programTitle}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.programFrom.formatted}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1">{{row.programTo.formatted}}</td>
													<td _ngcontent-c9="" class="ng-tns-c9-1"><i class="fa fa-fw fa-trash"></i></td>
												</tr>
												<tr *ngIf="qualificationDetails.length == 0">
													<td colspan ="4">No Qualification Details added</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">English Skill</label>
							      <br class="narrow">
							      Conversation
							      <select name="entryEngTalk" id="entryEngTalk" [(ngModel)]="model.engConversation">
							         <option value="">-----</option>
							         <option value="1">Low</option>
							         <option value="2">Mid</option>
							         <option value="3">High</option>
							      </select>
							      &nbsp;&nbsp;&nbsp;
							      Reading
							      <select name="entryEngRead" id="entryEngRead" [(ngModel)]="model.englishReading">
							         <option value="">-----</option>
							         <option value="1">Low</option>
							         <option value="2">Mid</option>
							         <option value="3">High</option>
							      </select>
							      &nbsp;&nbsp;&nbsp;
							      Writing
							      <select name="entryEngWrite" id="entryEngWrite" [(ngModel)]="model.engWriting">
							         <option value="">-----</option>
							         <option value="1">Low</option>
							         <option value="2">Mid</option>
							         <option value="3">High</option>
							      </select>
							      <br><br class="narrow">
							      TOEIC&nbsp;<input type="text" [(ngModel)]="model.toeic" size="4" style="height:25px;ime-mode:disabled;" name="entryToeic" id="entryToeic" value="" maxlength="4">&nbsp;
							      &nbsp;&nbsp;&nbsp;
							      TOEFL&nbsp;<input type="text" [(ngModel)]="model.toefl" size="4" style="height:25px;ime-mode:disabled;" name="entryToefl" id="entryToefl" value="" maxlength="4">&nbsp;
							      </div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Japanese Skill</label>
							      	<br class="narrow">
							      	Conversation
									<select name="entryJpnTalk" id="entryJpnTalk" [(ngModel)]="model.japTalking">
									   <option value="">-----</option>
									   <option value="1">Low</option>
									   <option value="2">Mid</option>
									   <option value="3">High</option>
									</select>
									&nbsp;&nbsp;&nbsp;
									Reading
									<select name="entryJpnRead" id="entryJpnRead" [(ngModel)]="model.japReading">
									   <option value="">-----</option>
									   <option value="1">Low</option>
									   <option value="2">Mid</option>
									   <option value="3">High</option>
									</select>
									&nbsp;&nbsp;&nbsp;
									Writing
									<select name="entryJpnWrite" id="entryJpnWrite" [(ngModel)]="model.japWriting">
									   <option value="">-----</option>
									   <option value="1">Low</option>
									   <option value="2">Mid</option>
									   <option value="3">High</option>
									</select>
									&nbsp;&nbsp;&nbsp;
									JLPT
									<select name="entryJLPT" id="entryJLPT" [(ngModel)]="model.jlpt">
									   <option value="">-----</option>
									   <option value="1">Level1</option>
									   <option value="2">Level2</option>
									   <option value="3">Level3</option>
									   <option value="4">Level4</option>
									</select>
								</div>
								<div class="divider"><h3>Job Preferences</h3></div>
								<div class="form-group is-empty">
									<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Preferred Industry</span>
									<select2   name="expOcc"  [data]="industries" data-width="100%" [options]="catOptions"  [(ngModel)]="model.preferredIndustry" ngDefaultControl  (valueChanged)="model.preferredIndustry = $event.value"></select2>
									<span class="material-input"></span>
								</div>
								<div class="form-group is-empty">
									<span style="font-size: 14px;color: #888;font-weight: 700;margin-bottom: 15px;">Preferred  Occupation</span>
									<select2   name="expOcc"  [data]="expCategories" data-width="100%" [options]="catOptions"  [(ngModel)]="model.preferredOccupation" ngDefaultControl  (valueChanged)="model.preferredOccupation = $event.value"></select2>
								</div>
								<div class="form-group is-empty">
									<label class="control-label" for="textarea">Preferred Location</label> 
									<select2 name="prefLoc" [(ngModel)]="model.preferredLocation" [data]="location" data-width="100%" [options]="catOptions"  ngDefaultControl  (valueChanged)="model.preferredOccupation = $event.value">
									</select2>
									<span class="material-input"></span>
								</div>
								<div class="btn btn-md btn-danger" (click)="saveCandidate()">Register Candidate</div>
         					</form>
                        </div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>