
	
	<nav class="navbar navbar-inverse" style='background-color:#333 !important;'>
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					(click)="toggleState()">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="" routerLink="/home"> <img style='width: 220px;' src="assets/img/logo-footer.png">
				</a>
			</div>
			<div class="collapse navbar-collapse textwidget" [ngClass]="{ 'in': isIn }" >
				<ul class="nav navbar-nav">
					<li><a class="" *ngIf="isLoggedIn == null" (click)="toggleState()" routerLink="/login" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Login</a></li>
					<li><a class="" *ngIf="isLoggedIn == 'true'" (click)="toggleState()" routerLink="/admin" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Find Candidates</a></li>
					<li><a class="" *ngIf="isLoggedIn == 'true'" (click)="toggleState()" routerLink="/postJob" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Post New Job</a></li>
					<li><a class="" *ngIf="isLoggedIn == 'true'" (click)="toggleState()" routerLink="/viewJobApplications" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Job Applications</a></li>

					
					<li><a class="" *ngIf="isLoggedIn == 'false'" (click)="toggleState()" routerLink="/user" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Find Jobs</a></li>
					<li><a class="" *ngIf="isLoggedIn == 'false'" (click)="toggleState()" routerLink="/userProfile" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Update Profile</a></li>
					<li><a class="" *ngIf="isLoggedIn != null" (click)="toggleState()" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Change Password</a></li>

					<li><a class="" *ngIf="isLoggedIn != null" (click)="toggleState();logout()" style='color:#FF4F57 !important;font-size: 14px !important;font-weight: 300 !important;line-height: 24px !important;'>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	
  
	<div class="row">
		<div class='col-md-12' style='min-height:700px !important;margin-bottom:50px;'>
			<router-outlet></router-outlet>
		</div>
	</div>
  
 


	
	
	
	
	
	
	<footer id="main-footer" class="row">
		<div class="container">
			<div id="footer-widgets" class="clearfix">
				<div class="col-sm-6 col-md-8">
					<div id="text-2" class="fwidget et_pb_widget widget_text">
						<div class="textwidget">
							<div class="fleft colbox  flogo">
								<img src="assets/img/logo-footer.png"><p></p>
								<div class="textwidget ftxtw">
							  <p>Some Text Abouyt Company Some Text Abouyt Company Some Text Abouyt Company Some Text Abouyt Company </p>
							  <a href="#" class="btn fknomore"> Know More </a>
							</div>
								
								<div class="social-connects about-width" >
									<h2>Social Connects</h2>
									<div class="sicons">
										<a href="#"><i class="fa fa-facebook-official"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-pinterest"></i></a>
										<a href="#"><i class="fa fa-youtube-play"></i></a>
										<a href="#"><i class="fa fa-instagram"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end .fwidget -->
				</div>

				
				<div class="col-md-4 new-float-right">
						<div id="text-4" class="fwidget et_pb_widget widget_text">	
							<div class="textwidget"><div class="fright colbox new-float-right">
								<h2>Quick Links</h2>
								<a title="About Webrise" href="/about">+ About Us</a><br>
								<a title="Webrise Services" href="/services">+ Our Services</a><br>
								<a title="Contact to Webrise" href="/contact-us">+ Contact Us</a><br>
								<a title="Help and Support" href="/contact">+ Help and Support</a><br>
								<a title="FAQs" href="/faq">+ FAQs</a><br>
							</div>
						</div>
					</div> <!-- end .footer-widget -->	
				</div> <!-- #footer-widgets -->
			</div>	<!-- .container -->
			
			<div id="footer-bottom">
				<div class="container clearfix"></div>	<!-- .container -->
			</div>
	</div>
	
	
	
	    	<!-- Copyright Start  -->
    	<div id="copyright">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
              <div class="site-info text-center">
                <p>All Rights reserved &copy; 2018 - Designed & Developed by Uniquick Solutions</p>
              </div>   
    				</div>
    			</div>
    		</div>
    	</div>
		
		</footer>
	
	
	
	
	
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="ti-arrow-up"></i>
    </a>

